<%= error_messages_for 'company' %>

<% form_for @company, :builder => TabularFormBuilder, :html => {:multipart => true} do |f| %>

  <div class="box tabular ">
    <div class="splitcontentright">
      <h4>Work types</h4>
      <p><%= f.check_box :hardware_development %></p>
    	<p><%= f.check_box :hardware_production %></p>
    	<p><%= f.check_box :firmware_development %></p>
    	<p><%= f.check_box :driver %></p>
  	</div>
    
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :identifier, :required => true %></p>
    <p><%= f.text_area :description, :required => true %></p>
  
    <p>
      <label><%=l(:label_attachment_plural)%></label><br />
      <%= render :partial => 'attachments/form' %>
    </p>
  </div>
  
  <div class="box tabular">
    <h3>Users</h3>
    <p>
      <% @users.each do |user| %>
        <%= check_box_tag "company[user_ids][]", user.id, @company.linked_with_user(user) %> <%= user.name %><br />
      <% end %>
    </p>
  </div>
  
  <div class="box tabular">
    <h3>Projects</h3>
    <p>
      <% @projects.each do |project| %>
        <%= check_box_tag "company[project_ids][]", project.id, @company.linked_with_project(project) %> <%= project.name %><br />
      <% end %>
    </p>
  </div>
  
  
  <%= submit_tag l(@company.new_record? ? :button_create : :button_save) %>
<% end %>