<div class="splitcontentleft">
  <% if @members.any? %>
    <table class="list members">
      <thead><tr><th><%= l(:label_member_plural) %></th><th></th></tr></thead>
      <tbody>
        <% @members.each do |member| %>
          <% next if member.new_record? %>
          <tr id="member-<%= member.id %>" class="<%= cycle 'odd', 'even' %> member">
            <td class="member"><%= link_to_user member %></td>
            <td class="buttons">
              <%= link_to_remote( l(:button_delete),
                                  { :method => :post,
                                    :update => 'members',
                                    :url => { :controller => 'companies',
                                              :action => 'delete_member',
                                              :id => @company,
                                              :member_id => member.id },
                                  },
                                  :title => l(:button_delete),
                                  :class => 'icon icon-del')
              %>
            </td>
          </tr>
        <% end; reset_cycle %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>

<div class="splitcontentright">
  <% if @available_members.any? %>
    <% remote_form_for( :member,
                       :url => { :controller => 'companies', :action => 'add_members', :id => @company },
                       :update => :members,
                       :method => :post) do |f| %>
      <fieldset>
        <legend><%= l(:label_member_new) %></legend>

        <p><%= label_tag "member_search", l(:label_member_filter), :class => 'filter_label' %>
        <%= text_field_tag 'member_search', nil %></p>
        <%= observe_field( :member_search,
                           :method => :get,
                           :frequency => 0.5,
                           :update => :available_members,
                           :url => {:action => "filter_available_members", :controller=>"companies" , :id => @company },
                           :with => "q" )
        %>
        <div id="available_members" class="filtered_results">
          <%= render :partial => 'available_members' %>
        </div>

        <p><%= submit_tag l(:button_add) %></p>
      </fieldset>
    <% end %>
  <% end %>
</div>
