<div class="contextual">
  <% if User.current.allowed_to?(:add_company, nil, :global => true) %>
    <%= link_to "New company", new_company_path, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2>Companies</h2>

<div class="autoscroll">
<table class="list">
  <thead>
    <tr>
	    <th>Name</th>
    	<th>Description</th>
    	<% @custom_fields.each do |custom_value| %>
        <th><%= custom_value.name %></th>
      <% end %>
      <th>Projects</th>
    	<% if User.current.allowed_to?(:add_company, nil, :global => true) %>
    	  <th></th>
    	<% end %>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr class="<%= cycle("odd", "even") %>">
      	<td class="name"><%= link_to company.name, company %></td>
      	<td><%= company.short_description %></td>
      	<% @custom_fields.each do |custom_value| %>
          <td class="center">
            <%=h show_value(company.custom_value_for(custom_value)) %>
          </th>
        <% end %>
      	<td class="center"><%= render_projects_sentence(company) %></td>
      	<% if User.current.allowed_to?(:edit_company, nil, :global => true) %>
        	<td class="buttons">
        	  <%= link_to l(:button_edit), edit_company_path(company) %> | 
            <%= link_to l(:button_delete), company, :method => :delete, :confirm => 'Are you sure?' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3>Work types</h3>
<ul>
  <li>HW dev: Hardware development</li>
  <li>HW prod: Hardware production</li>
  <li>FW dev: Firmware development (VHDL or processor code)</li>
  <li>Driver: Linux driver development</li>
</ul>

<% html_title "Companies" %>
