<% html_title t(:label_company_plural) %>

<div class="contextual">
  <% if User.current.allowed_to?(:add_company, nil, :global => true) %>
    <%= link_to t(:label_company_new), new_company_path, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= t(:label_company_plural) %></h2>

<%= textilizable @settings[:top_text] %>

<div class="autoscroll">
  <table class="list">
    <thead>
      <tr>
        <th><%= t(:field_name) %></th>
        <th><%= t(:field_description) %></th>
      	<% @custom_fields.each do |custom_value| %>
          <th><%= custom_value.name %></th>
        <% end %>
        <th><%= t(:label_project_plural) %></th>
        <th><%= t(:label_member_plural) %></th>
      	<% if User.current.allowed_to?(:add_company, nil, :global => true) %>
      	  <th></th>
      	<% end %>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr class="<%= cycle("odd", "even") %>">
        	<td class="name center"><%= link_to company.name, company %></td>
        	<td><%= company.short_description %></td>
        	<% @custom_fields.each do |custom_value| %>
            <td class="center">
              <%=h show_value(company.custom_value_for(custom_value)) %>
            </th>
          <% end %>
        	<td class="center"><%= link_to company.projects.count, company %></td>
        	<td class="center"><%= link_to company.users.count, company %></td>
        	<% if User.current.allowed_to?(:edit_company, nil, :global => true) %>
          	<td class="buttons">
          	  <%= link_to l(:button_edit), edit_company_path(company) %> | 
              <%= link_to l(:button_delete), company, :method => :delete, :confirm => 'Are you sure?' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= textilizable @settings[:bottom_text] %>
