<div class="contextual">
	<% if User.current.allowed_to?(:edit_company, nil, :global => true) %>
	  <%= link_to "Edit #{@company.name}", edit_company_path(@company), :class => 'icon icon-edit' %> |
	<% end %>
	<% if User.current.allowed_to?(:add_company, nil, :global => true) %>
		<%= link_to "New company", new_company_path, :class => 'icon icon-add' %>
	<% end %>
</div>

<h2><%= link_to "Companies", companies_path %> &#187; <%= @company.name %></h2>

<div class="splitcontentright">
	<% if @projects.any? %>
  	<div class="projects box">
    	<h3>Projects</h3>
    	<%= render_project_hierarchy @projects %>
    </div>
	<% end %>

  <% if @users.any? %>
  	<div class="members box">
    	<h3>Users</h3>
  		<ul>
    		<% @users.each do |user| %>
    			<li><%= link_to user.name, user %></li>
  		  <% end %>
  		</ul>
  	</div>
	<% end %>
</div>

<%= textilizable @company.description %>

<%= link_to_attachments @company %>
